#login-background {
  background-image: url("https://images.unsplash.com/photo-1565514158740-064f34bd6cfd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: grid;
  place-items: flex-end;
  padding: 50px;
}
