div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table tr {
  border: solid black;
  border-width: 1px 0;
}

table tr td {
  /*border: 1px solid black;*/
}

table tr th {
}
