div.transaction-form {
  align-self: flex-start;
  justify-self: flex-start;
}

div.transaction-details input {
  padding: 0.1em;
  border: 1px solid rgba(0, 0, 0, 0.9);
  margin: 0.2em;
}

div.transaction-details span {
    padding: 0 1em;
    border: solid rgba(0, 0, 0, 0.9);
    border-width: 0 0 0 3px;
    margin: 0.2em;
}

div.transaction-details {
  padding: 0.5em 0;
  margin: 0.2em;
  border: dashed #282c34;
  border-width: 1px 0 0 0;
  display: flex;
}

div.transaction-form button {
    padding: 0.5em;
    border-radius: 0.3em;
}

button.new-transaction {
  padding: 0.5em;
  border-radius: 0.3em;
  border: 2px solid #11557c;
  background-color: #a5d6d9;
  color: #282c34;
}

button.submit-transactions {
    float: right;
    color: #0c410c;
    background-color: palegreen;
    border: 2px solid forestgreen;
}
