@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  color: white;
  text-align: center;
}

.App-header sub {
  font-size: 0.5em;
}

.App-header h1 {
  font-family: 'Fraunces', serif;
}

.App-header p {
  font-size: 0.5em;
}

.App-header a {
  color: aliceblue;
  text-decoration: none;
  transform: scale(5) rotate(90deg);
  /*transition: all 1s ease-in;*/
}

.App-header a:hover {
  color: dodgerblue;
  transform: scale(5) rotate(90deg);
}

.App-header:hover a {
  transform: scale(2) rotate(90deg);
  transition: all 1s ease-in;
}


main {
  max-width: 60em;
  align-self: center;
  justify-self: center;
  margin: auto;
  overflow-x: scroll;
}

h3 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#api-test {
  position: absolute;
  bottom: 0;
}
